*{

  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}
.main{
  height: 70vh;
}
header{
  display: flex;
  margin: auto;
  align-items: center;

}
.Logo-container ,.nav-links, .cart{
  display: flex;
}
.Logo-container{
  margin: 10px;
  flex: 1;
}
.logo{
  font-weight: 400;
  margin: 5px;
}

nav{
  flex: 2;
}
.nav-links{
  list-style: none;
  justify-content: space-around;
}
.nav-link{
  text-decoration: none;
  color: #5f5f79;
  font-size: 18px;


}
.cart{
  flex: 1;
  justify-content: flex-end;
}
.presentation{
  display: flex;
  width: 90%;
  margin: auto;
  min-height: 80vh;
  align-items: center;
}
.intro-text h1 {
  font-size: 44px;
  font-weight: 500;
  background: linear-gradient(to right, #494964);
}
.intro-text p {
  margin-top: 5px;
  font-size: 22px;

}
.cta{
  padding-top: 10px;
}
.cta-add {
  background-color: #c36cbb;
  width: 150px;
  height: 50px;
  cursor: pointer;
  font-size: 16px;
  border: none;
  color: white;
  margin: 30px 0 0 0;
}
.cta-select {
  border: 2px solid #c36cbb;
  background: transparent;
  color: #c36cbb;
  width: 150px;
  height: 50px;
  cursor: pointer;
  font-size: 16px;
}
.cover {
  flex: 1;
  display: flex;
  justify-content: center;
  height: 60vh;
}
.cover img {
  filter: drop-shadow(0px 5px 3px black);
  animation: drop 1.5s ease;
  height: 100%;
}
.big-circle {
  position: absolute;
  top: 0px;
  right: 0px;
  opacity: 0.7;
  z-index: -1;
  height: 80%;
}
.medium-circle {
  position: absolute;
  top: 30px;
  right: 30%;
  z-index: -1;
  height: 60%;
  opacity: 0.4;
}
.small-circle {
  position: absolute;
  bottom: 20px;
  left: 20%;
  z-index: -1;
}
@media screen and (max-width:1024px){
  .presentation{
      flex-direction: column;

  }
  .introduction{
      margin-top: 5vh;
  }
  .intro-text h1{
      font-size: 30px;
  }
  .intro-text p{
      font-size: 18px;
  }
  .cta{
      padding: 10px 0px 0px 0px;
  }
  
  .cover-img
  {
      height: 80%;

  }
  .small-circle,.medium-circle,.big-circle{
      opacity: 0.2;
  }

}